.todo-list {
    position: relative;
}

.todo-list .all {
    position: absolute;
    top: -36px;
    left: -14px;
    background: none;
    border: none;
    transform: scaleX(1.5) rotate(90deg);
}

.all.bold::after {
    color: #494949 !important;
}
.todo-list .all::after {
    content: '>';
    font-size: 22px;
    color: #e6e6e6;
    padding: 10px 27px 10px 27px;
}