.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font: inherit;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

.checkmark {
    position: absolute;
    top: -14px;
    left: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
    width: 30px;
    height: 30px;

    background-color: transparent;
    border: 1px solid rgba(124, 124, 124, 0.39);
    border-radius: 50%;
}

.container input:checked ~ .checkmark {
    color: rgb(93, 194, 175);
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 40%;
    top: 10%;
    width: 20%;
    height: 60%;
    border: solid rgb(93, 194, 175);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}