header {
    position: relative;
    margin-top: 14em;
    font: inherit;
}

header h1 {
    font: inherit;
    position: absolute;
    margin-top: -1em;
    color: rgba(175, 47, 47, 0.15);
    width: 100%;
    font-size: 7em;
    font-weight: 100;
    text-align: center;
    text-transform: lowercase;
}

header input {
    font: inherit;
    position: relative;
    border: none;
    padding: 16px 16px 16px 60px;
    width: 100%;
    font-size: 1.4em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

header input::placeholder {
    font: inherit;
    color: rgba(124, 124, 124, 0.39);
    font-style: italic;
}

header input:visited,
header input:focus {
    outline: none;
}