.modal {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.623);
    background-image: url('../../loading_spinner.gif');
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
}