.hidden {
    display: none;
}

.view {    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    height: 30px;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    border-top: 1px solid rgba(124, 124, 124, 0.39);
    background-color: rgb(255, 255, 255);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.view > label {
    margin-left: 50px;
    font-size: 24px;
}

.view > label.completed {
    text-decoration: line-through;
    color: #e6e6e6;
}

.remove-btn {
    color: #cc9a9a;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    margin: auto 0;
    font-size: 30px;
    padding: 0;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    background: transparent;
    border: none;
    display: none;    
    transition: color 0.2s ease-out;
}

.remove-btn:focus {
    outline: none;
}


.view:hover > .remove-btn{
    display: block;
} 

.remove-btn::after {
    content: '\00d7';
}

.remove-btn:hover  {
    color: #772727;
}