
.filter {
    position: relative;
    border-top: 1px solid rgba(124, 124, 124, 0.39);
    background-color: rgb(255, 255, 255);
    color: #777;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.filter::after,
.filter::before {
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 100%;
}
.filter::after {
    left: 1%;
    bottom: -7px;
    width: 98%;
    z-index: -1;
}
.filter::before {
    left: 2%;
    bottom: -14px;
    width: 96%;
    z-index: -2;
}

.filter a {
    color: inherit;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 2px 6px;
}