.App {
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  font-weight: 300;
  position: relative;
}

.App::after {
    content: "";
    position: absolute;
    z-index: -3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 60px 0px rgba(1, 1, 1, 0.09)
    
}

.shadow,
.App .shadow,
.App .more-shadow::after,
.App .more-shadow::before {
  box-shadow: 0px 0px 6px 1px rgba(78, 78, 78, 0.4);
}