.filter-select a.active {
    border-color: rgba(175, 47, 47, 0.2);
}

.filter-select {
    font: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}